*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.statusbar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  background-color: rgba(90, 200, 250, 0.5);
}

.current-stop {
  background-color: rgba(90, 200, 250, 0.75);
  font-size: 1.45em;
  font-family: BlinkMacSystemFont;
  font-weight: 500;
  padding-top: 20px;
  text-align: center;
  height: 60px;
}

.back-arrow {
  bottom: 20px;
  color: black;
  font-size: 12px;
  position: relative;
  padding-left: 10px;
  text-align: left;
}

.download {
  position: relative;
  right: 10px;
  bottom: 47px;
  text-align: right;
}

h2 {
  border-bottom: 1px solid #C4C4C4;
  font-family: BlinkMacSystemFont;
  font-size: 1em;
  font-weight: 425;
  padding: 1%;
  text-align: left;
}

.direction {
  background-color: lightgrey;
}

.reroute {
  background-color: rgb(255, 234, 0);
}

.OS {
  background-color: rgb(255, 59, 80);
}

/* 1em=12pt */

.number {
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 1%;
  width: 11%
}

.destination {
  font-size: 1.25em;
  font-weight: 425px;
  width: 58%
}

.time {
  font-size: 1.16em;
  font-weight: 425px;
  width: 21.5%;
}

.time-os {
  font-size: 1.16em;
  font-weight: 425px;
  width: 21.5%;
  position: relative;
  top: 8px;
}

.arrow {
  color: #8E8E93;
  font-size: 10px;
  text-align: right;
}

.location {
  border-bottom: 1px solid #C7C7CC;
  height: 55px;
  padding-top: 15px;
}

.location-os {
  border-bottom: 1px solid #C7C7CC;
  height: 55px;
  padding-top: 0px;
}

.list {
  height: 529px;
  overflow-y: scroll;
}

li {
  display: inline-block;
  font-family: BlinkMacSystemFont;
}

.tabbar {
  border-top: 1px solid #C7C7CC;
  padding-top: 8px;
}

p {
  font-size: .8em;
}

.buslogo {
  padding-left: 20px;
  width: 47%;
}

.maplogo {
  width: 36%;
}

.routelogo {
}
